<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"> {% block meta %}{% endblock %}
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" href="/template/base.css"/>
		<link rel="stylesheet" href="/template/header/style.css"/>
		<link rel="stylesheet" href="/template/footer/style.css"/> {% block stylesheet %}{% endblock %}{% block script %}{% endblock %}
		<script src="https://kit.fontawesome.com/fc3ea8a23e.js" crossorigin="anonymous"></script>
		{% block favicon %}<link rel="icon" type="image/png" href="assets/favicon.jpeg"/>
		{% endblock %}
		{% block head %}{% endblock %}
		</head>
		<body>
			{% if admin %}
					{% include 'header/admin_header.html.twig' %}
			{% else %}
					{% include 'header/header.html.twig' %}
			{% endif %}
			
			<div class="content">
				{% block body %}{% endblock %}
			</div>

		{% block footer %}
			{% include 'footer/footer.html.twig' %}
		{% endblock %}


		{% block javascript %}{% endblock %}
	</body>
</html>
