{% extends '/base.html.twig' %}

{% block title %}
    Page de mot de passe oublié
{% endblock %}

{% block stylesheet %}
    <link
        rel="stylesheet"
        href="/template/Authentification/style.css"
    />
    <link
        rel="stylesheet"
        href="/template/composant/alert-section/style.css"
    />
{% endblock %}

{% block body %}
    {% include 'composant/alert-section/alert-section.html.twig' with { 'message': message, 'messageError': messageError } %}
    <div class="container">
        <img class="logo" src="/assets/logo_eventIT.png" alt="Logo" />
        <form action="/forgot_password" method="POST">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Votre email" name="email" required>
                <i class="fa fa-envelope"></i>
            </div>
            <button class="btn" type="submit">Réinitialiser le mot de passe</button>
        </form>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        const emailInput = document.querySelector('input[name="email"]');

        emailInput.addEventListener('input', function() {
            // Validate email format
            const isValidEmail = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/.test(this.value);
            const feedbackIcon = this.nextElementSibling;

            feedbackIcon.className = isValidEmail ? 'fa-solid fa-check good' : 'fa-solid fa-xmark bad';
        });
    </script>
{% endblock %}
