@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}
.container {
  width: 300px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}
.logo {
  display: block;
  margin: 22px auto;
  width: 50%;
  border-radius: 20px;
}
.form-control {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #3897f0;
  border: none;
  color: #fff;
  border-radius: 3px;
  margin-top: 10px;
}
#signup-fields {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.good {
  color: green;
}

.bad {
  color: red;
}
