<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="contact.css">
</head>
<body>
    <h1>NOUS CONTACTER</h1>
    <p>Vous avez plusieurs moyens de nous contacter. Contactez-nous par mail ou par un appel.</p>

    <h2>Nos bureaux :</h2>
    <p>CAMPUS NDL : 10 rue de Vanves; 92130 ISSY-LES-MOULINEAUX</p>
    <a href="https://www.google.com/maps/place/10+Rue+de+Vanves,+92130+Issy-les-Moulineaux,+France/">
        <img src="map.png" alt="Map">
    </a>

    <h2>Accès</h2>
    <p>Bâtiment Notre-Dame des Champs Métros Saint Placide (ligne 4), Notre-Dame des Champs (ligne 12), Montparnasse-Bienvenüe(lignes 6 et 13) Bus Lignes 89 – 94 – 95 – 96 – 68 –58 –82</p>

    <h2>Appelez nous :</h2>
    <p>XX123456   Mr XZY<br>
    XX123456   Mr XZY<br>
    XX123456   Mr XZY<br>
    XX123456   Mr XZY<br>
    XX123456   Mr XZY</p>

    <h2>Envoyer nous un Mail :</h2>
    <p>XYZ@audio.fr    Mr XZY <br>
    XYZ@audio.fr    Mr XZY <br>
    XYZ@audio.fr    Mr XZY <br>
    XYZ@audio.fr    Mr XZY <br>
    XYZ@audio.fr    Mr XZY </p>
</body>
</html>
