.container-title {
  text-align: center;
}

.text1 {
  color: #333;
  margin: 0;
}

.p1 {
  color: #666;
}

.container-box {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.box1 {
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: #dad7d7;
  border-radius: 10px;
}

.office {
  float: left;
  width: 35%;
}

.map {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  position: relative;
  border-radius: 20px;
  width: 50%;
  float: right;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.ul1 {
  list-style-type: none;
  padding: 0px;
}

.li1 {
  margin-bottom: 10px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding: 20px;
  width: 80%;
  box-sizing: border-box;
}

.contact-details {
  margin-top: 20px;
}

.contact-details hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 5px;
}
