{% extends '/base.html.twig' %}

{% block title %}
	Mentions Légales
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/template/mentionslegales/user/mentionslegales.css"/>
{% endblock %}	

{% block body %}
	 <div class="container">
    </div>

  


    <div class="terms">
     {{ mentions_legales | raw }}
    </div>

{% endblock %}	

{% block javascript %}
	<script src="template/index/index.js"></script>
{% endblock %}