body {
  font-family: Arial, sans-serif;
  line-height: 1.5; /* Ajoutez la valeur souhaitée pour l'interligne */
}

.container {
  width: 70%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  font-size: 110%;
}

.terms {
  margin: 0 auto;
  padding: 4%;
  width: 90%;
  line-height: 3; /* Ajoutez la valeur souhaitée pour l'interligne */
}

.barre {
  margin: 0 auto;
  width: 90%;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding: 0, 5%;
  line-height: 2; /* Ajoutez la valeur souhaitée pour l'interligne */
}
