<header class="adminheader">
    <nav class="headernav">
        <img src="/assets/logo_eventIT.png" alt="Logo" class="logoheader">
        <ul class="headerul">
            <li class="liheader"><a href="/Accueil">Accueil</a></li>
            <li class="liheader"><a href="/admin/faq">Gestion FAQ</a></li>
            <li class="liheader"><a href="/admin/cgu">Gestion CGU</a></li>
            <li class="liheader"><a href="/admin/mentionslegales">Gestion Mentions Légales</a></li>
            <li class="liheader"><a href="/admin/users">Gestion Utilisateurs</a></li>
            <li class="liheader"><a href="/profil">Profil</a></li>
            <li class="liheader"><a href="/deconnexion">Deconnexion</a></li>
        </ul>
    </nav>
</header>
