<header class="header">
    <nav class="headernav">
        <img src="/assets/logo_eventIT.png" alt="Logo" class="logoheader">
        <ul class="headerul">
            <li class="liheader"><a href="/accueil">Accueil</a></li>
            <li class="liheader"><a href="/monitoring">Monitoring</a></li>
            <li class="liheader"><a href="/contact">Contact</a></li>
            <li class="liheader"><a href="/faq">FAQ</a></li>
            <li class="liheader"><a href="/connexion">Connexion</a></li>
            <li class="liheader">
                <form action="/search" method="GET">
                    <input type="text" name="query" placeholder="Search" class="search-input">
                    <button type="submit" id="search-button">Search</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
