{% extends '/base.html.twig' %}

{% block title %}
	Mentions Légales
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/template/mentionslegales/mentionslegales.css"/>
{% endblock %}	

{% block body %}
	 <div class="container">
   <br/>
      <h1> <B >Mentions Légales</B></h1>
       <br/>
    </div>

    <div class="barre">
    <br/>



    <div class="terms">
    
     
      <h2>Éditeur du site </h2>
     <br/>
      <p>
       AUDIA, 10 rue de Vanves, 92130 ISSY-LES-MOULINEAUX, Numéro de téléphone, Adresse email.
      </p>
       <br/>
      <h2>Directeur de la publication </h2>
       <br/>
      <p>
        Nom du Directeur
      </p>
       <br/>
      <h2>Hébergement  </h2>
       <br/>
      <p>
        [Nom de l'hébergeur], [Adresse], [Numéro de téléphone].
      </p>
       <br/>
      <h2>CNIL</h2>
       <br/>
      <p>
       Le site a fait l'objet d'une déclaration à la CNIL sous le numéro [numéro de déclaration] (si applicable).
      </p>
       <br/>
      <h2>Responsabilité</h2>
       <br/>
      <p>
        AUDIA s'efforce d'assurer au mieux la précision et la mise à jour des
        informations diffusées sur ce site, ainsi que l'accès à ces
        informations. Cependant, AUDIA ne peut garantir l'exactitude, la
        précision ou l'exhaustivité des informations mises à disposition sur ce
        site.
      </p>
       <br/>
      <h2>Loi applicable </h2>
       <br/>
      <p>
       Les présentes conditions sont régies par la loi française.
      </p>
      
    </div>
  
    </div>

{% endblock %}	

{% block javascript %}
	<script src="template/index/index.js"></script>
{% endblock %}