{% extends '/base.html.twig' %}

{% block title %}
	CGU
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/template/cgu/cgu.css"/>
{% endblock %}	

{% block body %}
	 <div class="container">
   <br/>
      <h1>Conditions Générales d'Utilisation (CGU)</h1>
       <br/>
    </div>

    <div class="barre">
    <br/>



    <div class="terms">
    
      {{ cgu }}
      <h2>Objet</h2>
     <br/>
      <p>
        Les présentes conditions générales d'utilisation ont pour objet de
        définir les modalités et conditions dans lesquelles les utilisateurs
        peuvent accéder au service de captation de la température et du CO2 dans
        les salles de spectacle proposé par AUDIA
      </p>
       <br/>
      <h2>Accès au service</h2>
       <br/>
      <p>
        Le service est accessible gratuitement à tout utilisateur disposant d'un
        accès à internet. Toutefois, certains services peuvent être réservés aux
        utilisateurs inscrits.
      </p>
       <br/>
      <h2>Propriété intellectuelle</h2>
       <br/>
      <p>
        Les contenus du site (logos, images, textes, etc.) sont protégés par le
        droit d'auteur. Toute utilisation non autorisée du site ou de son
        contenu constituerait une violation de ces droit
      </p>
       <br/>
      <h2>Collecte des données</h2>
       <br/>
      <p>
        Le site recuille des données personelles nécessaire au bon fonctionnment
        du service. Ces données peuvent inclure des informations sur la
        température et le CO2 ainsi que, le cas échéant, des données
        personnelees des utlisateur. Toutes les données collectéées sont
        traitées conformément à la législation sur la protection des données
        personnelles.
      </p>
       <br/>
      <h2>Responsabilité</h2>
       <br/>
      <p>
        AUDIA s'efforce d'assurer au mieux la précision et la mise à jour des
        informations diffusées sur ce site, ainsi que l'accès à ces
        informations. Cependant, AUDIA ne peut garantir l'exactitude, la
        précision ou l'exhaustivité des informations mises à disposition sur ce
        site.
      </p>
       <br/>
      <h2>Modification des CGU</h2>
       <br/>
      <p>
        AUDIA se réserve le droit de modifier les présentes CGU à tout
        moment.L'utilisateur est considéré comme acceptant la nouvelle version
        des CGU à chaque fois qu'il accède au service après la mise en ligne de
        cette nouvelle version.
      </p>
      
    </div>
  
    </div>

{% endblock %}	

{% block javascript %}
	<script src="template/index/index.js"></script>
{% endblock %}


 
 
 