{% extends '/base.html.twig' %}

{% block title %}
	Monitoring
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/template/Monitoring/style.css"/>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Dashboard</h1>
		<div class="box1">
			<div class="data-box temperature">
				<h2>Temperature</h2>
				<p id="temperature-value">-- °C</p>
			</div>
			<div class="data-box sound-level">
				<h2>Niveau sonore</h2>
				<p id="sound-level-value">-- dB</p>
			</div>
			<div class="data-box co2-level">
				<h2>Taux de CO2</h2>
				<p id="co2-level-value">-- ppm</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="box2">
			<h1>Suivi des dernières 24H</h1>
			<br><br>
			<div class="chart-container">
				<h2>Temperature</h2>
				<canvas id="temperature-chart"></canvas>
			</div>
			<div class="chart-container">
				<h2>Niveau sonore</h2>
				<canvas id="sound-level-chart"></canvas>
			</div>
			<div class="chart-container">
				<h2>Taux de CO2</h2>
				<canvas id="co2-level-chart"></canvas>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
	<script src="/template/Monitoring/chart.js"></script>
{% endblock %}

{#
	<!DOCTYPE html>
	<html lang="en">
	  <head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	    <title>Monitoring Page</title>
	    <link rel="stylesheet" href="style.css" />
	  </head>
	  <body>
	    <div class="container">
	      <div class="box1">
	        <div class="data-box temperature">
	          <h2>Temperature</h2>
	          <p id="temperature-value">-- °C</p>
	        </div>
	        <div class="data-box sound-level">
	          <h2>Sound Level</h2>
	          <p id="sound-level-value">-- dB</p>
	        </div>
	        <div class="data-box co2-level">
	          <h2>CO2 Level</h2>
	          <p id="co2-level-value">-- ppm</p>
	        </div>
	      </div>
	      <div class="box2">
	        <div class="chart-container">
	          <!-- Chart for temperature -->
	          <canvas id="temperature-chart"></canvas>
	        </div>
	        <div class="chart-container">
	          <!-- Chart for sound level -->
	          <canvas id="sound-level-chart"></canvas>
	        </div>
	        <div class="chart-container">
	          <!-- Chart for CO2 level -->
	          <canvas id="co2-level-chart"></canvas>
	        </div>
	      </div>
	    </div>
	    <script src="scripts.js"></script>
	  </body>
	</html>
	#}
