<footer class="footer">
    <nav class="footernav">
        <img src="/assets/logo_eventIT.png" alt="Logo" class="logofooter">
        <ul class="headerul">
            <li class="liheader"><a href="/Accueil">Accueil</a></li>
            <li class="liheader"><a href="/FAQ">FAQ</a></li>
            <li class="liheader"><a href="/contact">Contact</a></li>
            <li class="liheader"><a href="/CGU">CGU mentions légales</a></li>
            <li class="liheader"><a>© 2024 Event-IT. All rights reserved.</a></li>
        </ul>
    </nav>
</footer>
