{% extends '/base.html.twig' %}

{% block title %}
	Page de connexion/Inscription
{% endblock %}

{% block stylesheet %}
	<link
      rel="stylesheet"
      href="/template/Authentification/Inscription/style.css"
    />
    <link
      rel="stylesheet"
      href="/template/Authentification/style.css"
    />
    <link
      rel="stylesheet"
      href="/template/composant/alert-section/style.css"
    />
{% endblock %}

{% block body %}
  {# alert section #}
  {% include 'composant/alert-section/alert-section.html.twig' with { 'message': message, 'messageError': messageError } %}
  <div class="container">
    <img class="logo" src="/assets/logo_eventIT.png" alt="Logo" />
    <form onAction="/connexion" method="POST">
      <input type="hidden" name="actionLogin" value="login" />
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Email" name="email" required>
          <i class="fa fa-xmark bad" id="email-valid-icon" style=""></i>
      </div>
      <input type="password" class="form-control" placeholder="Mot de passe" name="password" required/>
      <div id="signup-fields">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirmer le mot de passe" name="confirm_password">
          <i class="fa-solid fa-xmark bad" id="icon_same_password" style=""></i>
        </div>
        <input type="text" class="form-control" placeholder="Nom d'utilisateur" name="username" />
        <input type="text" class="form-control" placeholder="Nom" name="last_name" />
        <input type="text" class="form-control" placeholder="Prenom" name="first_name" />

        {# mot de passe checklist #}
        <div class="password-checklist animate slide-down" style="display:none">
          <div class="password-checklist-item">
            <i id="password-length" class="fa-solid fa-xmark bad"></i>
            <span class="password-checklist-item-text">8 caractères minimum</span>
          </div>
          <div class="password-checklist-item">
            <i id="password-uppercase" class="fa-solid fa-xmark bad"></i>
            <span class="password-checklist-item-text">1 majuscule</span>
          </div>
          <div class="password-checklist-item">
            <i id="password-lowercase" class="fa-solid fa-xmark bad"></i>
            <span class="password-checklist-item-text">1 minuscule</span>
          </div>
          <div class="password-checklist-item">
            <i id="password-number" class="fa-solid fa-xmark bad"></i>
            <span class="password-checklist-item-text">1 chiffre</span>
          </div>
          <div class="password-checklist-item">
            <i id="password-special" class="fa-solid fa-xmark bad"></i>
            <span class="password-checklist-item-text">1 caractère spécial</span>
          </div>
        </div>
      </div>
      
      <button class="btn" id="login" type="submit">Se connecter</button>
      <button class="btn" id="signup" type="button">S'inscrire</button>
      <button class="btn" id="returnToLogin" type="button" style="display: none">Retourner à la connexion</button>
    </form>
  </div>
  <div class="container forgot-password animate">
    <p> Vous avez oublié votre mot de passe ? <a href="/forgot_password">Cliquez ici</a> </p>
  </div>
{% endblock %}

{% block javascript %}
	<script>
      const btnReturn = document.getElementById('returnToLogin');
      const btnLogin = document.getElementById('login');
      const btnSignup = document.getElementById('signup');
      const forgotPassword = document.querySelector('.container.forgot-password');

      const inputAction = document.querySelector('input[name="actionLogin"]');
      
      function setRequiredFields(isRequired) {
        const fields = document.querySelectorAll('#signup-fields input');
        fields.forEach(field => {
          field.required = isRequired;
        });
      }
      
      document.getElementById('signup').addEventListener('click', function () {
        document.getElementById('signup-fields').style.maxHeight = '300px';
        btnReturn.style.display = 'block';
        btnLogin.style.display = 'none';
        forgotPassword.style.display = 'none';
        setTimeout(() => {
          btnSignup.type = 'submit';
          inputAction.value = 'signup';
        }, 200);

        setRequiredFields(true);
      });

      document.getElementById('returnToLogin').addEventListener('click', function () {
        document.getElementById('signup-fields').style.maxHeight = '0';
        btnReturn.style.display = 'none';
        btnLogin.style.display = 'block';
        btnSignup.type = 'button';
        inputAction.value = 'login';
        forgotPassword.style.display = 'block';

        setRequiredFields(false);
      });
  </script>
  <script>
    // BOOL FOR ALL params
    let isEmailValid = false;
    let isPasswordValid = false;
    let isConfirmPasswordValid = false;

    const email = document.querySelector('input[name="email"]');
    const emailValidIcon = document.getElementById('email-valid-icon');

    email.addEventListener('input', function () {
      const value = email.value;
      isEmailValid = value.match(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/);
      emailValidIcon.className = isEmailValid ? 'fa-solid fa-check good' : 'fa-solid fa-xmark bad';
    });


    const password = document.querySelector('input[name="password"]');
    const passwordChecklist = document.querySelector('.password-checklist');
    const passwordChecklistItems = document.querySelectorAll('.password-checklist-item');
    const passwordChecklistItemsIcon = document.querySelectorAll('.password-checklist-item i');
    const confirmPassword = document.querySelector('input[name="confirm_password"]');
    const iconSamePassword = document.getElementById('icon_same_password');

    {# if password is selected  #}
    password.addEventListener('focus', function () {
      passwordChecklist.style.display = 'block';
    });

    {# if password is not selected  #}
    password.addEventListener('blur', function () {
      passwordChecklist.style.display = 'none';
    });


    function checkPasswordCondition(condition, index) {
      passwordChecklistItemsIcon[index].className = condition ? 'fa-solid fa-check good' : 'fa-solid fa-xmark bad';
    }

    password.addEventListener('input', function () {
      const value = password.value;
    
      checkPasswordCondition(value.length >= 8, 0);
      checkPasswordCondition(value.match(/[A-Z]/), 1);
      checkPasswordCondition(value.match(/[a-z]/), 2);
      checkPasswordCondition(value.match(/[0-9]/), 3);
      checkPasswordCondition(value.match(/[^A-Za-z0-9]/), 4);

      isPasswordValid = value.length >= 8 && value.match(/[A-Z]/) && value.match(/[a-z]/) && value.match(/[0-9]/) && value.match(/[^A-Za-z0-9]/);
    
      // If the password is valid, we check if the confirm password is valid
      const confirmPasswordValue = confirmPassword.value;
      isConfirmPasswordValid = value === confirmPasswordValue;
      iconSamePassword.className = isConfirmPasswordValid ? 'fa-solid fa-check good' : 'fa-solid fa-xmark bad';
    });


    confirmPassword.addEventListener('input', function () {
      const password = document.querySelector('input[name="password"]');
      const passwordValue = password.value;
      const confirmPassword = this.value;

      isConfirmPasswordValid = passwordValue === confirmPassword;

      iconSamePassword.className = isConfirmPasswordValid ? 'fa-solid fa-check good' : 'fa-solid fa-xmark bad';
    });

    document.getElementById('login').addEventListener('click', function (e) {
      if (!isEmailValid) {
        e.preventDefault();
      }
    });

    // SI UNE DES VALEURS DE BOOL EST FALSE, LE BOUTON D'INSCRIPTION EST DESACTIVE
    document.getElementById('signup').addEventListener('click', function (e) {
      if (!isEmailValid || !isPasswordValid || !isConfirmPasswordValid) {
        e.preventDefault();
      }
    });

  </script>
{% endblock %}
