{% extends '/base.html.twig' %}

{% block title %}
	Gestion des utilisateurs
{% endblock %}

{% block stylesheet %}
	<link
  rel="stylesheet"
  href="/template\admin\gestion_utilisateurs\back_gest_util.css"
/>
{% endblock %}

{% block body %}
	<main>
  <div class="blue-banner">
    <h2 class="title">Nom</h2>
    <h2 class="title title-space">Prénom</h2>
    <h2 class="user-management">Gestion des utilisateurs</h2>
  </div>
  <!-- Ajoutez ici les détails des utilisateurs et le formulaire de gestion des utilisateurs -->
</main>
<table>
  <tr>
    <th>Potter</th>
    <th>Harry</th>
  </tr>
  <tr>
    <td>Potter</td>
    <td>Harry</td>
  </tr>
  <tr>
    <td>Potter</td>
    <td>Harry</td>
  </tr>
  <!-- Ajoutez autant de lignes que nécessaire -->
</table>
{% endblock %}