<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liste des Cinémas</title>
    <link rel="stylesheet" href="/template/Cinema_select/style.css" />
  </head>
  <body>
    <div class="container">
      <button class="scroll-btn left-btn" onclick="scrollLeft()">
        &#10094;
      </button>
      <div class="cinema-list">
        <div class="cinema-item"><img src="cinema.jpg" alt="Cinéma 1" /></div>
        <div class="cinema-item"><img src="cinema.jpg" alt="Cinéma 2" /></div>
        <div class="cinema-item"><img src="cinema.jpg" alt="Cinéma 3" /></div>
        <div class="cinema-item"><img src="cinema.jpg" alt="Cinéma 4" /></div>
      </div>
      <button class="scroll-btn right-btn" onclick="scrollRight()">
        &#10095;
      </button>
    </div>
    <script src="/template/Cinema_select/script.js"></script>
  </body>
</html>
