{% extends '/base.html.twig' %}

{% block title %}
	Event IT - Acceuil
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/template/index/index.css"/>
{% endblock %}	

{% block body %}
<div class="padding">
	<img id="firstLogo" src="/assets/Image/concertlogo.JPG" alt="Image">
	<p class="first-text">
    	EventIT : un son pur pour une vie saine
	</p>
	
	<div class="image-container">
		<div class="image-wrapper">
			<img src="/assets/Image/enceinte.png" alt="Image">
			<p class="image-text">Contrôler la puissance sonore</p>
		</div>
		<div class="image-wrapper">
			<img src="/assets/Image/temperature.png" alt="Image">
			<p class="image-text">Mesurer la température</p>
		</div>
		<div class="image-wrapper">
			<img src="/assets/Image/CO2.png" alt="Image">
			<p class="image-text">Détecter le CO2</p>
		</div>
	</div>
	<p class="last-text">
		Notre produit possède un ensemble de capteurs pour <br>
		différents facteurs importants pour la santé. <br>
		Notre solution permet de contrôler le niveau sonore pour<br>
		alerter si le son est trop fort, connaitre la température pour le<br>
	    confort des personnes, et de mesurer le taux de CO2 pour éviter les riques.
	</p>
</div>
{% endblock %}

{% block javascript %}
	<script src="template/index/index.js"></script>
{% endblock %}
