{% extends '/base.html.twig' %}

{% block title %}
	Event IT - Acceuil
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="template/index/index.css"/>
{% endblock %}

{% block body %}
	<h1>Index</h1>
	<p>
		Test
	</p>
{% endblock %}

{% block javascript %}
	<script src="template/index/index.js"></script>
{% endblock %}
