{% extends '/base.html.twig' %}

{% block title %}
	Event IT - Acceuil
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/template/index/index.css"/>
{% endblock %}

{% block body %}
	<img src="template\concert fond noir.JPG" alt="Image">
	<p class="first-text">
		Audia : un son pur pour une vie saine
	</p>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<br><br><br><br><br><br><br>
	
	
	<img src="template\enceinte.webp" alt="Image">
	<img src="template\température.webp" alt="Image">
	<img src="template\CO2.webp" alt="Image">
	<p class="left-text">
		Contrôler la puissance sonore
	</p>
	<p class="special-text">
		Mesurer la température
	</p>
	<p class="right-text">
		Détecter le CO2
	</p>
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	<p class="first-text">
		Notre produit possède un ensemble de capteurs pour différents facteurs importants pour la santé. 
Notre solution permet de contrôler le niveau sonore pour alerter si le son est trop fort, connaitre la température pour le confort des personnes, et de mesurer le taux de CO2 pour éviter les riques.
	</p>
{% endblock %}

{% block javascript %}
	<script src="template/index/index.js"></script>
{% endblock %}
